model_list:
%{ for m in models ~}
- model_name: ${m.exposed_as}
  litellm_params:
%{ if m.provider == "anthropic" ~}
    model: azure_ai/${m.name}
    api_base: os.environ/ENDPOINT_${upper(replace(m.name, "-", "_"))}
    api_key: os.environ/KEY_${upper(replace(m.name, "-", "_"))}
%{ else ~}
    model: azure/${m.name}
    api_base: os.environ/AZURE_API_BASE
    api_key: os.environ/AZURE_API_KEY
    api_version: os.environ/AZURE_API_VERSION
%{ endif ~}
  model_info:
    mode: ${m.purpose}
%{ endfor ~}
router_settings:
  routing_strategy: simple-shuffle
  num_retries: 2
  timeout: 60
  allowed_fails: 3
  cooldown_time: 30
litellm_settings:
  drop_params: true
  success_callback:
    - langfuse
  failure_callback:
    - langfuse
  cache: true
  cache_params:
    type: local
    ttl: 600
general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY
  enforce_user_param: true
